.label{
    font-size: 16px;
    color: black;
    font-weight: 500;
    
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.input{
    height: 42px;
    background-color: white;
    color: black;
    
    @media (max-width: 768px) {
        height: 38px;
    }
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    background-color: transparent;
}

.checkBoxLabel{
    font-size: 14px;
    
    @media (max-width: 768px) {
        font-size: 13px;
    }
}

.btnRoot{
    height: 48px;
    
    @media (max-width: 768px) {
        height: 42px;
    }
}

.btnLabel{
    font-size: 15px;
}

.divLabel{
    font-size: 16px;
    color: black;
    
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.socialBtn{
    border-radius: 999em;
}